<ul class="pagination">
    <li class="page-item" ng-if="vm.Pager.index > vm.Pager.first" ng-click="vm.pageChange(vm.Pager.first)">
        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li ng-repeat="item in vm.Pager.pages" ng-click="vm.pageChange(item)"
        ng-class="item == vm.Pager.index ? 'page-item active':'page-item'">
        <a class="page-link" href="javascript:void(0)">{{item}}</a>
    </li>
    <li class="page-item" ng-if="vm.Pager.index < vm.Pager.last" ng-click="vm.pageChange(vm.Pager.last)">
        <a class="page-link" href="javascript:void(0)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>