<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC - AngularJS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @{
        RenderBody();
    }
    <app-root></app-root>

    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
    <script src="~/lib/jquery-block-ui/jquery-blockUI.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/angular-js/angular.min.js"></script>
    <script src="~/lib/angular-js/angular-animate.min.js"></script>
    <script src="~/lib/angular-js/angular-ui-router.min.js"></script>
    <script src="~/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/lib/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script src="~/lib/lodash/lodash.js"></script>

    <script src="~/js/index.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/Src/App.js"></script>
    <script src="~/Src/Components/Header/Header.js"></script>
    <script src="~/Src/Components/Footer/Footer.js"></script>
    <script src="~/Src/Components/Login/Login.js"></script>
</body>
</html>
