@{
    ViewData["Title"] = "Trang chủ";
}

<script src="~/lib/angular-1.8.2/angular.js"></script>

<div class="text-center" ng-app="mvcApp" ng-controller="homeIndex as vm">
    <h1 class="display-4">{{vm.Welcome}}</h1>
</div>

<script type="text/javascript">
    (function () {
        var app = angular.module("mvcApp", []);
        app.controller("homeIndex", homeIndexController);

        function homeIndexController($scope) {
            var vm = this;

            vm.Welcome = "Duong Hoang"
        };
    })();
</script>