<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <form id="form-login" name="form" ng-submit="vm.logIn(vm.Login)" novalidate>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" class="form-control" id="exampleInputEmail1" autocomplete="off"
                           placeholder="Enter email" ng-model="vm.Login.Email" required
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div class="form-text text-danger" ng-show="form.email.$touched && form.email.$invalid">
                        <span ng-show="form.email.$error.required">
                            Email Required
                        </span>
                        <span ng-show="form.email.$error.pattern">
                            Wrong format email
                        </span>
                    </div>


                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="pwd" class="form-control" id="exampleInputPassword1"
                           placeholder="Enter password" ng-model="vm.Login.Password" required
                           ng-minlength="6">
                    <div class="form-text text-danger" ng-show="form.pwd.$touched && form.pwd.$invalid">
                        <span ng-show="form.pwd.$error.required">
                            Password Required
                        </span>
                        <span ng-show="form.pwd.$error.minlength">
                            Password is too short
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Sign in</button>
            </form>
        </div>
    </div>
</div>

